<div>
  <main class="main-area">

    <div class="centered">

      <section class="menu-section">
        <h2 class="menu-heading">Plateforme du Lycee d'Excellence de Dakar</h2>
        <nav id="single-nav" class="single-nav menu" role="navigation">
          <ul>
            <li><a routerLink="home">Accueil</a></li>
            <li><a routerLink="classes">Classe</a></li>
            <li><a routerLink="students">Eleve</a></li>
            <li><a routerLink="about">Apropos</a></li>
            <li><a routerLink="contact">Contact</a></li>
          </ul>
        </nav>
      </section>
    </div>
  </main>
</div>
